body {
    font-family: sans-serif;
    margin: 50px;
    background: #111;
}

#main {
    background: #111;
    color: #eee;
    border: solid RGB(128, 128, 128);
    border-width: 100px 0px 0px 0px;
    border-radius: 4px;
    display: table;
    margin: 0px auto;
    width: 300px;
    box-sizing: border-box;
    font-size: 15px;
}

label {
    margin-right: 10px;
    /* make it easier touchable */
    line-height: 44px;
    display: inline-block;
}

label + input:not(input[type=checkbox]) {
    width: 75%;
}

input {
    color: #eee;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.tab {
    display: None;
    padding: 0px 20px;
}

.tab > *:first-child {
    margin-top: 16px;
}

.tab > *:last-child {
    margin-bottom: 16px;
}

.tab.active {
    display: block;
}

#form_static input[type="range"] {
    width: 80%;
    border: 0px;
}

#status {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    max-height: 50px;
    line-height: 30px;
    height: 32px;
    font-size: 12px;
    transition: max-height ease-out 0.5s;
    overflow: hidden;
    border-top: 1px solid #333;
    opacity: 0.5;
}

#status:empty {
    max-height: 0px;
    border: 0px;
}

#nav {
    width: 100%;
    background: #222;
    text-align: center;
    border: 1px solid black;
    border-width: 1px 0px;
    display: flex;
    justify-content: space-around;
}

#nav > span {
    cursor: pointer;
    line-height: 44px;
    flex: 1;
    transition: 0.1s ease-out;
    color: #777;
    transition-property: background-color, color;
}

#nav > span.active {
    opacity: 1;
    background: #282828;
    color: white;
}

hr {
    margin: 20px;
    border: 0px;
    border-top: 1px solid #222;
}

.tooltip {
    pointer-events: none;
    position: absolute;
    background: RGBa(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px 0px;
    border: 1px solid #2f2f2f;
    /*box-shadow: 0px 1px 5px black;*/
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: block;
    font-size: 13px;
    line-height: normal;
    margin-right: 23px;
    margin-left: 8px;
    width: 300px;
}

.tooltip:empty, .tooltipsdisabled .tooltip {
    display: none;
}

p:hover > span.tooltip {
    opacity: 1;
}

small {
    opacity: 0.3;
}

#dangerous {
    max-height: 0px;
    overflow: hidden;
    transition: max-height ease-out 0.5s;
}

#dangerous_collapse:checked + #dangerous {
    max-height: 500px;
}

* {
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    /* hide touch highlight: */
    background: transparent;
}

*:focus, *:active {
    outline: 0px;
}

#dangerous_collapse {
    cursor: pointer;
}

input, button {
    background: #222;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
}

button {
    margin-left: 3px;
    margin-right: 3px;
}

input[type=range] {
    background: transparent;
    -webkit-appearance: none;
}
/* make knobs invisibly larger, so that they are easier to touch */
input[type=range]::-moz-range-thumb {
    border: 15px solid transparent;
    border-width: 23px 15px;
    background: transparent;
    width: 12px;
    height: 12px;
    box-shadow: inset 0px 0px 0px 50px white;
    box-sizing: content-box;
    margin-top: -28.5px;
    border-radius: 100%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 15px solid transparent;
    border-width: 23px 15px;
    background: transparent;
    width: 12px;
    height: 12px;
    box-shadow: inset 0px 0px 0px 50px white;
    box-sizing: content-box;
    margin-top: -28.5px;
    border-radius: 100%;
}
input[type=range]::-ms-thumb {
    border: 15px solid transparent;
    border-width: 23px 15px;
    background: transparent;
    width: 12px;
    height: 12px;
    box-shadow: inset 0px 0px 0px 50px white;
    box-sizing: content-box;
    margin-top: -28.5px;
    border-radius: 100%;
}
/* since the knob is larger, it will stop before it reaches the ends of
the sliders visually. make the sliders appear shorter by using inset shadows
with the background color */
input[type=range]::-moz-range-track {
    box-shadow: inset 16px 0px 0px 0px #111, inset -16px 0px 0px 0px #111;
    background: grey;
    height: 1px;
}
input[type=range]::-webkit-slider-runnable-track {
    box-shadow: inset 16px 0px 0px 0px #111, inset -16px 0px 0px 0px #111;
    background: grey;
    height: 1px;
}
input[type=range]::-ms-track {
    box-shadow: inset 16px 0px 0px 0px #111, inset -16px 0px 0px 0px #111;
    background: grey;
    height: 1px;
}

@media only screen and (max-width: 959px) {
    #main {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }

    body {
        margin: 0px;
    }

    .tooltip {
        width: auto;
    }
}